:root {
  --color--ada7cb: #ada7cb;
}

$font--ProximaNova: 'Proxima Nova', sans-serif;
$font--style--normal: normal;
$font--weight--600: 600;
$font--weight--800: 800;
$font--size--16: 16px;
$font--size--28: 28px;
$font--size--32: 32px;
$line--height--24: 24px;
$line--height--44: 44px;
$color--D2D1D1: #D2D1D1;
$color--323F47: #323F47;
$color--54D3C2: #54D3C2;
